[Unit]
Description=Maze Battlegrounds LED Matrix Game
After=multi-user.target

[Service]
Type=simple
User=root
ExecStart=/usr/bin/python3 /home/obrelix/maze-battlegrounds/pi/main.py
WorkingDirectory=/home/obrelix/maze-battlegrounds/pi
Restart=on-failure
RestartSec=5
Environment=PYTHONPATH=/home/obrelix/rpi-rgb-led-matrix/bindings/python

[Install]
WantedBy=multi-user.target
